/* font-family: 'Kalam', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
/* Se a tela tiver no minimo 400px de largura */
@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

header {
  background-image: url('../img/fabian-grohs-U0tBTn8UR8I-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(21, 21, 21);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header div{
  margin-left: 40vw;
  margin-right: auto;
  align-self: center;
}

.titulo {
  transform: translateX(5vw);
  opacity: 0;
  animation: linear 700ms animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
  100%{
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

@media (max-width: 750px){
  header {
    background-image: none;
    background-color: rgba(21, 21, 21);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  header div{
    margin-left: auto;

    align-self: center;
  }
}

.menu {
  background-color: rgb(228, 206, 7);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: rgba(30, 30, 30);
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: background-color 300ms;
}

.menu a:active,
.menu a:hover {
  background-color: rgba(30, 30, 30);
  color: rgb(228, 206, 7);
  cursor: pointer;
}

.site-title {
  color: beige;
  -webkit-text-stroke: 1.5px rgba(21, 21, 21);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.site-subtitle {
  color: beige;
  -webkit-text-stroke: 0.5px rgba(21, 21, 21);
  font-style: italic;
  font-weight: lighter;
  text-align: right;
  line-height: 2em;
  font-size: 1.5em;
  font-family: 'Kalam', cursive;
}

@media (max-width: 600px){

  .site-subtitle {
    text-align: center;
  }
}

.sobre {
  position: relative;
  background-color: rgba(25, 25, 25);
  color: beige;
  padding: 2em 2em;
  min-height: 100vh;
  font-size: 1em;
}


.sobre p {
  margin-bottom: 1em;
  text-indent: 2em;
  font-size: 0.9em;
}

.sobre h4{
  font-size: 1.1em;
  font-family: 'Source Code Pro', monospace;
}

.sobre ul{
  padding-top: 0.75em;
  padding-left: 2.5em;
  padding-bottom: 1em;
}

.sobre li {
  font-size: 0.9em;
  list-style: none;
}

.sobre .avatar {
  float: right;
  border-radius: 50%;
  margin-left: 3em;
  margin-bottom: 2em;
}

.sobre .avatar img{
  /* position: absolute; */
  width: 12em;
  height: 12em;
  box-shadow: 20px 5px 4px rgb(10, 10, 10);
  border-radius: 50%;
}

.sobre button{
  background-color: rgba(25, 25, 25); /* rgba(25, 25, 25) */
  border: 2px solid rgb(228, 206, 7);
  border-radius: 10px;
  color: rgb(228, 206, 7);
  padding: 0.4em 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition: background-color 300ms;
}

.sobre button:hover{
  color: rgba(25, 25, 25);
  background-color: rgb(228, 206, 7);
  cursor: pointer;
}

.sobre .conhecimento{
  padding: 0.5em 0 0.5em 0.5em;
}

.conhecimento-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.conhecimento i{
  font-size: 2.5em;
  padding: 0.25em 0.25em;
  margin-right: 0.5em;
}


.sobre .barra {
  width: 65%;
  height: 50%;
  background-color: rgb(179, 178, 178);
  border-radius: 15px;
  margin: 5px 0 5px 0;
}

.sobre .skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: white;
}

.python {
  width: 85%; 
  background-color: rgb(241, 218, 8);
}
.git {
  width: 55%; 
  background-color: #f14f29;
}

.html5 {
  width: 45%; 
  background-color: #e54d27;
}

.css3 {
  width: 30%; 
  background-color: #3d8ec6;
}

.js {
  width: 30%; 
  background-color: #f0db50;
}

.sobre #languages {
  font-size: 2em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s
}

/* Modal Content */
.modal-content {
  position: fixed;
  left: 15vw;
  right: 15vw;
  bottom: 50vh;
  background-color: beige;
  width: 75%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.5s;
  animation-name: slideIn;
  animation-duration: 0.5s
}

/* The Close Button */
.close {
  color: rgb(158, 153, 7);
  float: right;
  padding: 0.5em 0.25em;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(228, 206, 7);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 16px;
  background-color: rgba(40, 40, 40);
  color: rgb(240, 216, 8);
}

.modal-header p{
  padding-top: 20px;
  font-size: 1.25em;
}

.modal-body {
  padding: 16px 16px;
}

.modal-body h4 {
  color: rgb(10, 10, 10);
  font-size: 1.25em;
}

.modal-body ul{
  color: rgb(10, 10, 10);
  font-size: 0.75em;
}

.modal-body i{
  font-size: 1.25em;
  color: black;
}

.modal-body i:hover{
  color: rgb(228, 206, 7);
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: calc(50vh - 100px);
    opacity: 0
  } 
  to {
    bottom: 50vh; 
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: calc(50vh - 300px);
    opacity: 0
  } 
  to {
    bottom: 50vh; 
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.projetos{
  background-image: url('../img/lampada2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right -150px top 10px;
  background-color: rgba(30, 30, 30);
  color: beige;
  padding: 2em 2em;
  min-height: 100vh;
}

.sobre h2,
.contato h2,
.projetos h2{
  color: rgb(228, 206, 7);
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.projeto-image{
   padding: 30px;
}

.projeto-image img{
  display: flex;
  padding: 40px;
  margin: 20px;
  background-color: beige;
  height: 400px;
  width: 774px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 20px rgba(20, 20, 20);
}

.projetos .grid {
  display: grid;
  gap: 1.5em;
  justify-content: center;
}

@media (min-width: 580px){
  .projetos{
    background-position: right -220px bottom -10px;
  }

  .projetos .grid {
    grid-template-columns: 240px 240px;
  }
}

.projetos figure {
  text-align: center;
}

.img-projetos {
  height: 180px;
  width: 180px;
  object-fit: cover;
  transition: transfom 500ms;
}

.img-projetos:hover {
  transform: scale(1.10);
}

.contato {
  background-color: rgba(20, 20, 20);
  padding: 2em 2em;
  height: 90vh;
}

.contato .icons{
  display: grid;
  gap: 2vw;
  margin: 3em;
  justify-content: space-around;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  color: whitesmoke;
  align-self: center;
  justify-self: center;
}

.contato .icon{
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  padding: 1em;
  margin: 0 0.5em;
  text-align: center;
}

.contato .icon a {
  font-size: 4em;
  color: whitesmoke;
  text-decoration: none;
  transition: text-shadow 300ms;
}

.contato .icon p {
  padding-top: 0.25em;
  font-size: 1em;
}

.contato .icon a:active,
.contato .icon a:hover{
  text-decoration: none;
  color: #F0DB4F;
  text-shadow: 0px 0px 50px rgb(212, 189, 38);
}

footer{
  display: flex;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.75em;
  justify-content: center;
  height: 10vh;
  background-color: rgb(228, 206, 7);
}